<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109678043625-diomoav1lhtotkforp4621u4vjspf8cd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109678043625-diomoav1lhtotkforp4621u4vjspf8cd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>109678043625-jrdii9l8rth4tv23qnrek0pqqtthied1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALPvwNAAMzTGuEemqdrfYmO1qHKKtmzpk</string>
	<key>GCM_SENDER_ID</key>
	<string>109678043625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-a31b4</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-a31b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109678043625:ios:7424b9d90a81f43b27eb78</string>
</dict>
</plist>